hr {
	border-color: rgba(255,255,255,.3);
}

.hr-line {
	/*background: #E2E2E2;*/
	height: 1px;
	position: relative;
	width: 28%;
	top: 0%;
	left: 50%;
	transform: translateX(-50%) translateY(-0%);
	-webkit-transform: translateX(-50%) translateY(-0%);
	-moz-transform: translateX(-50%) translateY(-0%);
	-ms-transform: translateX(-50%) translateY(-0%);
	margin:30px 0;
}

.hr-line i {
	position: relative;
	top: -25px;
	background: #fff;
	font-size:32px;
	color: #fc4225;
}

#sidenav-overlay {
	background:none;
	z-index:0;
}

.whitestrip {
	position:fixed;
	width:100%;
	background:rgba(255,255,255,1);
	z-index:2;
	height:80px;
	line-height: 80px;
}

.dropdown-content {
	background:rgba(255,255,255,1);
	top:10px;
	left: auto!important;
	right: 5px;
	z-index:9999;
}

nav a.button-collapse {
	color:#fc4225;
	border-bottom:none;
}

nav a.dropdown-button {
	margin-right:20px;
}

nav a.dropdown-button i {
	font-size:28px;
	vertical-align: middle;
}

.dropdown-content li > a, 
.dropdown-content li > span {
	color:#737373;
	font-size:14px;
	text-transform:uppercase;
}

.social-icons a {
	padding:0 10px;
}



nav .brand-logo {
	padding-left:80px;
	color: #3a3a3a;
}

nav .brand-logo img {
	margin:auto;
	vertical-align:middle;
}

nav ul li a{
	line-height:74px;
	text-transform:uppercase;
	font-size:14px;
	color:#3a3a3a;
	font-weight:500;
}

.dropdown-content li:hover, .dropdown-content li.active,
nav ul li:hover, nav ul li.active {
	background:transparent;
}

nav ul li a:hover, nav ul li a.active {
	background-color: rgba(245, 245, 245, 0.1);
	border-bottom:3px solid #fc4225;
	line-height:74px;
}

nav .nav-wrapper i {
	font-size:15px;
}